.information-color {
    background-color: #FFF9F4;
}

.text-color-head {
    color: #FA804C;
}

.text-weight {
    font-weight: 900;
}

.bye-bg-color {
    background-color: blue;
}

.shoe-bg-color {
    background-color: #F1F1F1;
}

.text-color {
    color: #363958;
}

.margin-top {
    margin-top: 15%;
}